@font-face {
  font-style: normal;
  font-family: "Meslo LG";
  src: local("Meslo LG S"), url("../lib/meslo-LG/MesloLGS-Regular.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-family: 'ChillKai';
  src: url("../lib/fonts/ChillKai.ttf") format("opentype");
  unicode-range: U+4E00-9FA5;
}

@font-face {
  font-style: normal;
  font-family: 'ChillRound';
  src: url("../lib/fonts/ChillRound.ttf") format("opentype");
  unicode-range: U+4E00-9FA5;
}

@font-face {
  font-style: normal;
  font-family: 'Wenkai';
  src: url("../lib/fonts/LXGWWenKai-Regular.ttf") format("opentype");
}